:root {
  --bg-mild: #E4E1D3;
  --bg-accent: #FFFF00;
  --bg-light: #FFFFFF;
}

@font-face {
    font-family: 'DejaWeb';
    src: url('fonts/DejaWeb.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaWeb';
    src: url('fonts/DejaWeb-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaWeb';
    src: url('fonts/DejaWeb-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaWeb';
    src: url('fonts/DejaWeb-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

body {
    background-color: var(--bg-mild);
    font-family: 'DejaWeb', sans-serif;
    font-size: clamp(1rem, 2.7vw, 1.7rem);
    line-height: 1.4;
    margin: 0;
}

header, footer {
    background-color: var(--bg-light);
    text-align: center;
}

footer {
    margin-top: 4rem;
}

section, header, footer {
    padding: 2rem 7vw;
}


h1, h2, h3 {
    font-weight: bold;
    letter-spacing: 0.3rem;
    margin-top: 3rem;
    text-transform: uppercase;
}

h1 {
    background-color: var(--bg-accent);
    box-decoration-break: clone;
    display: inline-block;
    margin: 2rem auto;
    overflow-wrap: break-word;
    padding: 0.4rem 0.5em 0.3rem;
    word-break: break-word;
}

h1, h2, h3, p {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
}

figure {
    margin: 2rem auto 0;
    max-width: 150vh;
    text-align: center;
}

figure img {
    margin: 0 auto;
}

img {
    max-width: 100%;
}
