
/* 104kb for the custom font and variations */

@font-face {
    font-family: 'DejaWeb';
    src: url('fonts/DejaWeb-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaWeb';
    src: url('fonts/DejaWeb-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaWeb';
    src: url('fonts/DejaWeb-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaWeb';
    src: url('fonts/DejaWeb.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
  --bg-mild: #E4E1D3;
  --bg-accent: #FFFF00;
  --bg-light: #FFFFFF;
}

html, body {
    margin: 0;
    background-color: var(--bg-mild);
}

body {
    font: 1.4rem/1.4 'DejaWeb', sans-serif;
}

section, header, footer {
    padding: 2rem 3rem;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3rem;
    margin-top: 3rem;
}

h1 {
    display: inline-block;
    background-color: var(--bg-accent);
    padding: 0.4rem 0.5em 0.3rem;
    box-decoration-break: clone;
    margin: 1rem auto;
}

header, footer {
    text-align: center;
    background-color: var(--bg-light);
}

footer {
    margin-top: 4rem;
}

img {
    max-width: 100%;
}

h1, h2, h3, p {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 2rem auto 0;
    max-width: 100rem;
    text-align: center;
}

figure img {
    margin: 0 auto;
}
